<!DOCTYPE html>
<html style="width:100%;height:100%;">
    <head>
      <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
      <title>Visor GeoEuskadi</title>
          
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="https://apps.euskadi.eus/bisorea/v3/css/GeoeuskadiLoadingSplash_c.css" />
          
        <!--  CORE -->
        <script type="text/javascript" src="https://apps.euskadi.eus/bisorea/v3/js/main-compiled.js"></script>
          
        <!-- Variables globales de la aplicacion -->
        <script type="text/javascript" src="https://apps.euskadi.eus/bisorea/v3/js/imports_lite.js"></script>  
          
        <!-- Script de inicializacion -->
        <script type="text/javascript" >   
			function gup( name ) {
				var url = location.href;
				var name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
				var regexS = "[\\?&]"+name+"=([^&#]*)";
				var regex = new RegExp( regexS );
				var results = regex.exec( url );
				return results == null ? null : results[1];
			}

			  
            // Funcion de arranque de la aplicacion
            function loadApp(){
                mapDiv = "mi_mapa";
				new Parser_c({"useLoadingSplash":false,"worldMap": true});
				//Nos registramos al evento de que se ha cargado la aplicacion
				COREProxy.register({
					onAppLoaded: function(){
									var options = {
										icon : "../../img/r01Geoeuskadi_marker.png",
										zoomToMarker:gup("zoom"),										
										srs : "\""+gup("crs")+"\""
									};
									COREProxy.api.interactions.addMarker([gup("x"),gup("y")], options);
					}
				});				
			}
       </script>
          
    </head>
 
    <body style="width:100%;height:100%; margin: 0; padding: 0;" onload="loadApp();">
        <div id="mi_mapa" style="width: 100%; height: 100%; position:relative;"></div>
    </body>
</html>
