@mixin r01fuilogin {
/*
	
	VIEW STYLE 
	View: VaadinLoginViewBase
	
*/
	.r01uilogin, .login-title {
		background-color: rgb(29, 123, 173);
	}
	
	.v-verticallayout-login-layout {
		width: 355px;
	}
	
	.login-panel .v-slot-login-buttons {
		height:245px;
	}
	.login-panel {
		padding-bottom:20px;
	}
	 	
	.v-button-danger.google-button {
		background: rgb(181, 52, 42) !important;
		width: 93px;
	}
	
	.v-button-primary.xlnets-button {
		background: rgb(24, 80, 120) !important;
		width: 93px;
	}
	
	.v-button-primary.justizia-button {
		background: rgb(30, 34, 170) !important;
		width: 93px; 
	}
	
	.login-lang-selector div .v-button-borderless, .v-label-login-title.v-label-h1 {
		color:white !important;
	}
	
	div.form-fields .v-caption-inline-icon span.v-icon {
		left: auto;
	}
}