@mixin r01fuilogin {
/*
	
	VIEW STYLE 
	View: VaadinLoginViewBase
	
*/
	.r01-login {
		background-color: rgb(29, 123, 173);
	}
	
	.r01-login-panel {
		width: 40% !important;
	}
	
	.v-button-danger .google-button {
		background: rgb(181, 52, 42) !important;
		width: 93px;
	}
	
	.v-button-primary .xlnets-button {
		background: rgb(24, 80, 120) !important;
		width: 93px;
	}
	
	.v-button-primary .elkarlan-button {
		background: rgb(24, 80, 120) !important;
		width: 93px;
	}
	
	.v-button-primary .justizia-button {
		background: rgb(30, 34, 170) !important;
		width: 93px; 
	}
	
	.r01-login-lang-selector,  
	.v-label-r01-login-title  {
		color:white !important;
	}
	
	div.r01-login-form-fields .v-caption-inline-icon span.v-icon {
		left: auto;
	}
}